.dao-and-labs-section{
    background-color: #5E4B36;
    padding: 80px 0;
    color: #FFE6CB;
    text-align: left;

    .card{
        background: linear-gradient(90deg, #FFB477 0%, #FFC977 100%);
        padding: 50px 40px;
        color: #5E4B36;
        border-radius: 10px;
    }

    .first-block,
    .second-block{
        display: flex;
        justify-content: space-between;

        .left-side{
            width: 25%;
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .card{
            width: 67%;
        }
    }

    .first-block{
        margin-bottom: 30px;

        .left-side{
            h3{
                font-size: 31px;
            }            
        }

    }

    .second-block{
        .buttons-container{
            display: flex;
            flex-direction: column;
            width: 100%;

            button{
                padding: 24px;
                background-color: #F59A4E;
                font-size: 18px;
                color: white;
                font-weight: 700;
                font-family: "Euclid circular";
                width: 100%;

                &:first-child{
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1020px){
    .dao-and-labs-section{
        .first-block{
            .left-side{
                h3{
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .dao-and-labs-section{
        .first-block,
        .second-block{
            flex-wrap: wrap;
            .left-side{
                width: 100%;
            }
            .card{
                width: 100%;
            }
        }
        .first-block{
            .left-side{
                h3{
                    margin-bottom: 30px;
                }                
            }

        }
        .second-block{
            .buttons-container{
                margin-top: 25px;
                flex-direction: row;
                justify-content: space-between;

                button{
                    width: 45%;
                    font-size: 14px;

                    &:first-child{
                        margin: 0;
                    }
                }
            }
            .card{
                order: -1;
            }
        }
    }
}